body {
  background-color: F2ECEC;
  margin: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.projects-container {
  display: grid;
  grid-template-columns: 264px 270px 264px;
  grid-template-rows: 264px 270px;
  gap: 32px;
}

.card {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.lang-boxes {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
}

.html-box {
  border: none;
  border-radius: 25px;
  background-color: #ff9c9c;
  padding: 8px;
  font-weight: bold;
  margin-right: 5px;
}
.css-box {
  border: none;
  border-radius: 25px;
  background-color: #a6daff;
  padding: 8px;
  font-weight: bold;
  margin-right: 5px;
}
.js-box {
  border: none;
  border-radius: 25px;
  background-color: #f8f881;
  padding: 8px;
  font-weight: bold;
}

.content-box {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  width: 232px;
  height: 164px;
  border: 2px solid black;
}

.project-title {
  display: flex;
  flex-direction: column;
  margin-top: -18px;
  margin-left: 15px;
}

.name-text {
  margin-top: -10px;
}
